<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
		<!-- Servlet的名称 -->
		<servlet-name>springmvc</servlet-name>
		<!-- Servlet对应的java类 -->
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!-- 当前Servlet的参数信息 -->
		<init-param>
			<!-- contextConfigLocation是参数名称，该参数的值包含SpringMVC的配置文件路径 -->
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/springmvc-config.xml</param-value>
		</init-param>
		<!-- 在Web应用启动时立即加载Servlet -->
		<load-on-startup>1</load-on-startup>
	</servlet>
	<!-- Servlet映射声明 -->
	<servlet-mapping>
		<!-- 请求对应的Servlet的名称 -->
		<servlet-name>springmvc</servlet-name>
		<!-- 监听当前域的所有请求 -->
		<url-pattern>/</url-pattern>
	</servlet-mapping>
</web-app>
